<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin's Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles.css">
    <style>
        .navbar {
            margin-bottom: 20;
        }
    </style>
</head>
<body>
    <section>
  <%- include('./partials/signedinnav.ejs') %>
    </section>
        <section class="p-3 bg-dark text-light" > 
            <div class="container d-flex  " style="margin-top:70px;margin-left: -0px;margin-right:20px ">
                <form class="d-flex px-4 " style="float:left;" method="post" action="/admin/results">
                    <input name="searchquery" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit"><i class="bi bi-search "></i></button>
                  </form>

                  <select class="form-select bg-secondary text-light" aria-label="Default select example" style="width:50%">
                    <option value="1">Students</option>
                    <option value="2">Instructors</option>
                    <option value="3">Courses</option>
                  </select>       
            </div>
      </section>
  
    <!--cards-->
    <section class="p" >
        <h1 class="title py-1 text-center">Dashboard</h1>
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-dark text-light " style="width: 660px">
                        <div class="card-body text-center">
                            <div class="h1 mb-3 mt-4">
                                <i class="bi bi-laptop"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Courses
                            </h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae id odit eum obcaecati dolore!
                            </p>
                            <a href="#" class="btn btn-primary mb-3">For More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-secondary text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3 mt-4">
                                <i class="bi bi-person-square"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Students
                            </h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae id odit eum obcaecati dolore!
                            </p>
                            <a href="#" class="btn btn-dark mb-3">For More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3 mt-4">
                                <i class="bi bi-people "></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Instructors
                            </h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae id odit eum obcaecati dolore!
                            </p>
                            <a href="#" class="btn btn-primary mb-3">For More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light " style="width: 660px">
                        <div class="card-body text-center">
                            <div class="h1 mb-3 mt-4">
                                <i class="bi bi-laptop"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Add Category
                            </h3>
                            <p class="card-text">
                                To add new category field for Courses
                            </p>
                            <a href="/admin/addcategory" class="btn btn-primary mb-3">Add Category</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>