<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body class="courseinfo-body">
  <%- include('./partials/nav.ejs') %>
    
      <div class="row-courseinfo">
        <div class="main-courseinfo">
          <h2>Programming with Python : HandsOn
            Introduction for Beginners</h2>
          <h5>Uploaded/Last updated on: Dec 7, 2017</h5>
          <!-- <div class="fakeimg" style="height:200px;">Image</div> -->
          <!-- <p>Some text..</p> -->
          <!-- <h2>Star Rating</h2> -->
          
          <img  class="stars" src="images/orangestar.svg" alt="">
          <img  class="stars" src="images/orangestar.svg" alt="">
          <img  class="stars" src="images/orangestar.svg" alt="">
          <img  class="stars" src="images/orangestar.svg" alt="">
          <img class="stars" src="images/star.svg" alt="">


          <div class="card">
            <div class="card-header">
                WHAT YOU WILL LEARN
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>

          <div>
            <div class="card text-white bg-info mb-3">
                <h5 class="card-header">About the course</h5>
                <div class="card-body">
                  <h5 class="card-title">Overview</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum doloremque quasi et nemo vel totam. Tempore, ipsam. Repellat tempore blanditiis nihil possimus fugiat aliquam aliquid iure quaerat incidunt reprehenderit quis illum nam saepe, ab laboriosam hic sit quibusdam, magni eveniet? Fugit necessitatibus cum laboriosam delectus maxime aperiam id, perferendis placeat ipsam exercitationem a dolor dolorum magni ipsa aspernatur pariatur fugiat tenetur modi vitae. Reiciendis, ducimus pariatur ipsum ex repudiandae repellat neque nulla rem iste debitis ea consequatur voluptatum nemo possimus cumque ullam, totam, quos veniam quam esse sequi! Quibusdam vero inventore consequuntur autem natus saepe necessitatibus porro nostrum atque quam.</p>
                </div>
              </div>
            <!-- <h3>About the course</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa nam, iusto itaque reiciendis voluptatem ab, error at quaerat accusamus perferendis similique nisi magni dignissimos dicta asperiores est dolores earum? Unde ea assumenda, ducimus, sapiente, nulla laudantium quam exercitationem soluta voluptatem tenetur possimus aut modi doloremque natus blanditiis iusto! Nesciunt, est?</p> -->
          </div>

          <div>
            <div class="card">
                <h5 class="card-header">Syllabus</h5>
                <div class="card-body">
                  <h5 class="card-title">Module 0</h5>
                  <p class="card-text"> <div>
                    <ol>
                        <li>lesson 0</li>
                        <li>lesson 1</li>
                        <li>lesson 2</li>
                    </ol>
                  </div></p>
                  <h5 class="card-title">Module 1</h5>
                  <p class="card-text"> <div>
                    <ol>
                        <li>lesson 0</li>
                        <li>lesson 1</li>
                        <li>lesson 2</li>
                    </ol>
                  </div></p>
                </div>
              </div>
            <!-- <h3>About the course</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa nam, iusto itaque reiciendis voluptatem ab, error at quaerat accusamus perferendis similique nisi magni dignissimos dicta asperiores est dolores earum? Unde ea assumenda, ducimus, sapiente, nulla laudantium quam exercitationem soluta voluptatem tenetur possimus aut modi doloremque natus blanditiis iusto! Nesciunt, est?</p> -->
          </div>
        
          <div>
            <div class="card text-white bg-info mb-3">
                <h5 class="card-header">About the Insturctor</h5>
                <div class="card-body">
                  <h5 class="card-title">Overview</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum doloremque quasi et nemo vel totam. Tempore, ipsam. Repellat tempore blanditiis nihil possimus fugiat aliquam aliquid iure quaerat incidunt reprehenderit quis illum nam saepe, ab laboriosam hic sit quibusdam, magni eveniet? Fugit necessitatibus cum laboriosam delectus maxime aperiam id, perferendis placeat ipsam exercitationem a dolor dolorum magni ipsa aspernatur pariatur fugiat tenetur modi vitae. Reiciendis, ducimus pariatur ipsum ex repudiandae repellat neque nulla rem iste debitis ea consequatur voluptatum nemo possimus cumque ullam, totam, quos veniam quam esse sequi! Quibusdam vero inventore consequuntur autem natus saepe necessitatibus porro nostrum atque quam.</p>
                </div>
              </div>
            <!-- <h3>About the course</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa nam, iusto itaque reiciendis voluptatem ab, error at quaerat accusamus perferendis similique nisi magni dignissimos dicta asperiores est dolores earum? Unde ea assumenda, ducimus, sapiente, nulla laudantium quam exercitationem soluta voluptatem tenetur possimus aut modi doloremque natus blanditiis iusto! Nesciunt, est?</p> -->
          </div>
          
<!-- 
          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          <br>
          <h2>TITLE HEADING</h2>
          <h5>Title description, Sep 2, 2017</h5>
          <div class="fakeimg" style="height:200px;">Image</div>
          <p>Some text..</p>
          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p> -->
        </div>
        <div class="side-courseinfo">
            <h2>Unlimited access at</h2>
            <h5>Rs 999/-</h5>
            <div class="card card-shadow">
                <div class="card-header card-image">
                    <img src="images/ffsdimg1.jpg">
                </div>
                <div class="card-body">
                    <h5>This course includes:</h5>
                    <ul>
                        <li>Sharable certificate</li>
                        <li>100% online course</li>
                        <li>Flexible Schedule</li>
                        <li>Appoximately 4 months to complete</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-primary btn-lg">Enroll Now</button>
                </div>
            </div>
            <div>
                <h3>Course is offered by:</h3>
                <h5>Harvard University</h5>
            </div>
            <!-- <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            <h3>More Text</h3>
            <p>Lorem ipsum dolor sit ame.</p>
            <div class="fakeimg" style="height:60px;">Image</div><br>
            <div class="fakeimg" style="height:60px;">Image</div><br>
            <div class="fakeimg" style="height:60px;">Image</div>
          </div> -->
      </div>
      
    </body>
    </html>