<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    
    <title>Document</title>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container">
    <div class="wrapper">
      <br><br><br><br>  
      <form class="form-wrapper" onsubmit="myValidation();  " method="post" action="/api/updateuser/<%=locals.id%>" > 
        <fieldset class="section is-active">
          <h3>Your Details</h3>
          <input type="text" name="name" id="name" placeholder="First Name" required>
          <small class="error-name error"></small>
          <input type="text" name="lastname" id="lasttname" placeholder="Last Name" >
          <input type="text" name="address" class="form-control" id="address" placeholder="Address" >
          <small class="error-adderess error"></small>
          <input type="text" name="phoneno"class="form-control" id="phoneno" placeholder="Phone number" required>
          <small class="error-phoneno error"></small>
          <input class="submit button" type="submit" value="Sign Up">

        </fieldset>
        
      </form>
    </div>
  </div>
  
</body>

<script>

      
  function myValidation() {
    const name= document.querySelector('#name');

    const nameValue = name.value
    
    if(nameValue.length < 3) {
      console.log(nameValue)
      document.querySelector('.error-name').innerText = "Name must be atleast 3 characters"
      event.preventDefault();
      return false
  } else {
      document.querySelector('.error-name').innerText = ""  
  }

    return true       
}
</script>
 </html>

 